devices: (
{
    name: "Wireless Mouse MX Master 3";
    smartshift:
    {
        on: true;
        threshold: 30;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    dpi: 1000;

    buttons: (
        {
	# Thumb button
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "Up";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_C"];
                        };
                    },
                    {
                        direction: "Down";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_B"];
                        };
                    },
                    #{
                    #    direction: "Left";
                    #    mode: "OnRelease";
                    #    action =
                    #    {
                    #        type: "Keypress";
                    #        keys: ["KEY_LEFTMETA", "KEY_LEFT"];
                    #    };
                    #},

                    {
                        direction: "Right";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_RIGHT"];
                        }
                    },

                    {
                        direction: "None"
                        mode: "NoPress"
                    }
                );
            };
        },
        {
	# Top button
            cid: 0xc4;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "Left";
                        action =
                        {
                		type: "CycleDPI";
				dpis: [4000, 2000, 1400, 1000, 600, 50];
                        }
                    },
                    {
                        direction: "Right";
                        action =
                        {
                		type: "CycleDPI";
				dpis: [50, 600, 1000, 1400, 2000, 4000];
                        }
                    },
                    {
                        direction: "None";
                        action =
                        {
                		type = "ToggleSmartshift";
                        }
                    }
		);
            };
        },
        {
	# Front side button
            cid: 0x53;
            action =
            {
                type :  "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_PAGEUP"];
            };
        },
        {
	# Back side button
            cid: 0x56;
            action =
            {
                type :  "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_PAGEDOWN"];
            };
        }
    );
}
);
