[user]
	email = brenocq.br@gmail.com
	name = Breno Cunha Queiroz
[core]
	editor = nvim
    commentChar = ";"
[alias]
    s = status -sb
    l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    a = add
    c = commit
    cm = commit -m
    cam = commit -am
    ca = commit -a
    sw = switch
    amend = commit --amend --no-edit
    standup = "!git log --since='7 days ago' --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s %C(dim white)- %an%C(reset)' --author=$(git config user.email)"
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
    helper = cache --timeout=3600
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[includeIf "gitdir:~/Work/PercivAI/"]
    path = ~/Work/PercivAI/.gitconfig
